@import url("//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #161616;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none; 
}

#main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 1330px;
    background-position: right bottom;
}

nav {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}
.brand {
    height: 65px;
}

nav ul {
align-items: center;
}

.menu li a {
    padding:10px 15px;
    color: #6c707c;
    font-size: 16px;
}
.menu li a:hover,
.menu li a.active {
   background-color: #292929;
   color: #FFFFFF !important;
   font-weight: 700;
   transition: all ease 0.5s;
}

.name {
    font-family: 'Poppins', sans-serif;
     width: 500px;
     position: absolute;
     left: 20%;
     top: 50%;
     transform: translate(-20%, -50%);
 }
 .name p:nth-child(1),
 .name .details {
     color: #6c707c;
     font-size: 16px;
 }

 .name h1 {
    font-family: 'Poppins', sans-serif;
     font-size: 40px;
     margin: 0;
     letter-spacing: 3px;
     color: #292929;
 }

 .cv-btn {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}

.cv-btn:hover {
    background-color: #13131313;
    transition: all ease 0.5s;
    color: #292929;
}

.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.social {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
 .social a {
     margin: 6px 12px;
 }

 .social i {
     color: rgba(18,17,17,0.4);
     font-size: 24px;
 }

 .social a:hover i {
   color: #17d1ac;
   transition: all ease 0.5s;
 }
 
.arrow {
    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0;
    left: -3%;
    border-right: 1px solid rgba(41,41,41,0.3);
}
.arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #292929 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}

#about {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #161616;  
  }
   

.about-text {
  font-family: 'Poppins', sans-serif;
    width: 50%;
}

.about-text h1 {
    font-size:  5rem;
    color: #17d1ac;
}

.about-text h2 {
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 400;
}

.about-text h1,h2 {
     margin: 0;
     padding: 0;
     padding-left: 30px;
}

.about-text p {
    font-size: 1.2rem;
    color: rgba(251,251,251,0.90);
    padding-left: 30px;
}
.about-model {
    margin-top: 1500px;
}

#services{
    width: 100%;
    height: 150vh;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    background-color: #161616;
}

.s-heading h1 {
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}

.s-heading p {
    color: rgba(249,249,249,0.30);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.s-heading {
    text-align: center;
    margin: 20px 0px;
}

.s-box {
    background-color: #2b2b2b;
    width: 350px;
    height:500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
}

.s-b-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-b-img {
    width: 100%;
    height: 70%;
}

.s-b-img, .img_tag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-b-text {
    width: 100%;
    height: 30%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-b-text a {
    margin: 0;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.s-type {
  font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.s-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.2s; 
}

.s-b-text a:hover {
  color: rgba(255,255,255,0.50);
}

#portfolio {
    box-sizing: border;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 2% 20px 2%;
    background-color: #161616;
    height: 900px;
}

.p-heading {
    font-family: calibri;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.p-box {
    background-color: #1f1f1f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    position: relative;
}

.p-b-container {
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
}

.text-overlay {
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(23,209,172,0.89);
    display: none;
}

.text-overlay h1 {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.text-overlay p {
    font-size: 1.2rem;
    margin: 0;
}

.p-box:hover .text-overlay {
    display: flex;
}

.p-box .img-tag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#contact {
    background-color: #edf1fd;
}
#contact i {
    color: #17d1ac;
}

footer {
    background-color: #161616;  
}

/* Media Queries */

@media(max-width:1190px) {
    #main {
        background-size: 1150px;
    }

    .name {
        left: 10%;
        top: 50%;
        transform: translate(-10%, -50%);
    }
    .about-model img {
        height: 400px;
    }
    #services {
        height: auto;
    }

    .s-b-container {
        flex-wrap: wrap;
    }
    .s-box {
        flex-grow: 1;

    }
    .s-b-text {
        text-align: center;
    }
}

@media(max-width:970px) {
    #main {
        background-image: none !important;
    }
    .name {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    .about-model {
        display: none;
    }
    #about {
        justify-content: center;
        padding-top: 0;
    }
    .about-text {
        width: 90%;
    }
    .about-text h1 {
        font-size: 3rem;
    }
    .about-text h2 {
        font-size: 2.5rem;
    }
    .p-b-container {
        width: 100%;
    }
}

@media(max-width: 900px){
    .p-b-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        height: auto;
        grid-gap: 10px;
    }
    #portfolio {
        height: 1000px;
    }
}
@media(max-width:600px){
    .p-b-container {
        grid-template-columns: 1fr;
    }
    .name {
        width: 60%;
    }
    .name p{
        margin-bottom: -5px;
    }
    .arrow {
       display: none;
    }
    .social {
        left: 50px;
        transform: translateX(-30px);
    }
    .about-text h2{
        font-size: 2rem;
    }
    .cv-btn {
        margin-top: 20px;
    }
    #portfolio {
        height: 2300px;
    }
}